h1,h3,h4 {
    word-spacing: 5px;
}
li {
    letter-spacing: 1px;
}
p.lead {
    padding:30px 20px 20px 20px;
}
div.essay {
    padding-left: 0px;
}
div.note {
    border:1px solid #c9c9c9;
    padding:30px 20px 20px 20px;
}
div.note span {
    font-weight:bold;
}
div.toggle-primary {
    opacity:0.8;
}
div.toggle-content p span.verse {
    font-weight: normal;
    color: blue;
    word-spacing: 3px;
    letter-spacing: 1px;
}